[submodule "client-gateway"]
	path = client-gateway
	url = https://github.com/Sales-Microservices/Client-Gateway.git
[submodule "products-service"]
	path = products-service
	url = https://github.com/Sales-Microservices/Product-Microservice.git
[submodule "orders-service"]
	path = orders-service
	url = https://github.com/Sales-Microservices/Orders-Microservice.git
[submodule "payments-ms"]
	path = payments-ms
	url = https://github.com/Sales-Microservices/Payments-Microservice.git
[submodule "auth-service"]
	path = auth-service
	url = https://github.com/Sales-Microservices/Auth-Service.git
