[submodule "client-gateway"]
	path = client-gateway
	url = https://github.com/Sales-Microservices/Client-Gateway.git
[submodule "products-service"]
	path = products-service
	url = https://github.com/Sales-Microservices/Product-Microservice.git
